/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

#define DEFAULT 0
#define GAME 1
#define GAME2 2
#define ALPHA 3
#define BETA 4
#define CONFIG 5
#define GAMING_NUM 6

/ {

       behaviors {
           ht_tp: holdtap_tappreferred {
             compatible = "zmk,behavior-hold-tap";
             label = "HOLD_TAP_TAP_PREFERRED";
             #binding-cells = <2>;
             flavor = "tap-preferred";
             tapping-term-ms = <200>;
             quick-tap-ms = <0>;
             bindings = <&kp>, <&kp>;
           };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
                        bindings = <
   &kp TAB   &kp Q       &kp W      &kp E      &kp R        &kp T    &kp Y &kp U        &kp I      &kp O        &kp P          &kp BKSP
   &kp LCTL  &kp A       &kp S      &kp D      &kp F        &kp G    &kp H &kp J        &kp K      &kp L        &kp SEMI       &ht_tp RCTL QUOT
   &kp LSHFT &kp Z       &kp X      &kp C      &kp V        &kp B    &kp N &kp M        &kp CMMA   &kp DOT      &kp FSLH       &kp RSFT
                          &kp LGUI &kp SPC &lt ALPHA ESC    &lt BETA GRAVE &lt ALPHA ENTER &kp LALT
                        >;
                };

                gaming_layer {
                        label = "GAME";
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I    &kp O   &kp P    &kp BKSP
   &kp LCTL  &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K    &kp L   &kp SEMI &kp QUOT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp RSFT
            &kp LALT &kp SPC &mo GAMING_NUM   &kp LGUI &lt ALPHA ENTER &lt BETA GRAVE
                        >;
                };

                gaming2_layer {
                        label = "GAME 2";
                        bindings = <
   &kp TAB   &kp T &kp Q &kp W &kp E &kp R    &kp Y &kp U &kp I    &kp O   &kp P    &kp BKSP
   &kp LCTL  &kp G &kp A &kp S &kp D &kp F    &kp H &kp J &kp K    &kp L   &kp SEMI &kp QUOT
   &kp LSHFT &kp B &kp Z &kp X &kp C &kp V    &kp N &kp M &kp CMMA &kp DOT &kp FSLH &kp RSFT
            &kp LALT &kp SPC &mo GAMING_NUM   &kp LGUI &lt ALPHA ENTER &lt BETA GRAVE
                        >;
                };

/*
                alpha_layer {
                        label = "QWERTY";
                        bindings = <
   &kp ESC   &kp EXCL     &kp AT      &kp PRCNT   &kp CARET   &kp DLLR   &kp PLUS &kp STAR       &kp LBRC      &kp RBRC      &kp PIPE        &kp DEL
   &kp LCTL  &kp N1       &kp N2      &kp N3      &kp N4      &kp N5     &kp AMPS &kp EQUAL      &kp LBKT      &kp RBKT      &kp MINUS       &kp UNDER
   &kp LSHFT &kp N6       &kp N7      &kp N8      &kp N9      &kp N0     &kp HASH &kp BSLH       &kp LPAR      &kp RPAR      &kp GRAVE       &kp TILDE
                                             &trans &kp UNDER &trans     &trans &kp MINUS &trans
                        >;
                };
*/

                alpha_layer {
                        label = "QWERTY";
                        bindings = <
   &kp GRAVE &kp EXCL     &kp AT      &kp HASH    &kp DLLR    &kp PRCNT  &kp CARET &kp AMPS  &kp STAR   &kp PIPE   &kp BSLH  &kp MINUS
   &kp LCTL  &kp N1       &kp N2      &kp N3      &kp N4      &kp N5     &kp EQUAL &kp LPAR  &kp LBRC   &kp LBKT   &kp LT    &kp UNDER
   &kp LSHFT &kp N6       &kp N7      &kp N8      &kp N9      &kp N0     &kp PLUS  &kp RPAR  &kp RBRC   &kp RBKT   &kp GT    &kp TILDE
                                             &trans &kp UNDER &trans     &trans &caps_word &trans
                        >;
                };

                beta_layer {
                        label = "QWERTY";
                        bindings = <
   &trans      &none   &none &none      &none       &none            &kp PG_UP    &kp PG_DN  &kp UP     &kp HOME   &kp END    &mo CONFIG
   &trans      &none   &none &none      &none       &kp C_VOL_UP     &kp C_VOL_UP &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
   &trans      &none   &none &none      &none       &kp C_VOL_DN     &kp C_VOL_DN &kp C_PLAY &kp C_MUTE &kp C_PREV &kp C_NEXT &trans
                                            &trans &trans &trans     &trans &trans &trans
                        >;
                };

                config_layer {
                        label = "CONFIG";
                        bindings = <
   &reset     &tog GAME    &tog GAME2    &none       &none        &none           &kp F1   &kp F2  &kp F3 &kp F4 &kp F5  &none
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &kp F6   &kp F7  &kp F8 &kp F9 &kp F10 &none
   &none      &none        &none        &none        &none        &none           &kp F11  &kp F12 &none  &none  &none   &none
                                                           &trans &trans &trans   &trans &trans &trans
                        >;
                };

                gaming_num_layer {
                        label = "GAME";
                        bindings = <
   &kp ESC &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans
   &trans  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &trans &trans &trans &trans &trans &trans
   &trans  &kp N6 &kp N7 &kp N8 &kp N9 &kp N0   &trans &trans &trans &trans &trans &trans
                         &trans &trans &trans   &trans &trans &trans
                        >;
                };
        };
};
